<!-- Portfolio Section, Done By Tareq-->
<section id="portfolio" class="py-5 bg-light">
  <div class="container">
    <h2 class="fw-bold">Portfolio</h2>
    <p class="mb-5">
      BLA BLA BLA BLA BLA BLABLABBALA BLABALA
    </p>
    
    <div class="row text-center">
      <div class="col-md-4 mb-4">
        <img class="img-fluid mb-3" src="website/assets/img/big-project-image.png" alt="Project 1">
        <h4 class="fw-bold"><a href="#">Project Name</a></h4>
        <p>LA LA LA LA LA LA LA LA LA LA LA LA LA LA LA LA.</p>
      </div>
    
      <div class="col-md-4 mb-4">
        <img class="img-fluid mb-3" src="website/assets/img/big-project-image.png" alt="Project 2">
        <h4 class="fw-bold"><a href="#">Project Name</a></h4>
        <p>PLA PLA PLA PLA PLA PLA PLA PLA PLA PLA PLA PLA.</p>
      </div>
      
      <div class="col-md-4 mb-4">
        <img class="img-fluid mb-3" src="website/assets/img/big-project-image.png" alt="Project 3">
        <h4 class="fw-bold"><a href="#">Project Name</a></h4>
        <p>KLA KLA KLA KLA KLA KLA KLA KLA KLA KLA KLA KLA.</p>
      </div>
    </div>
  </div>
</section>
